
.board {
	position: relative;
	width: 900px;
	height: 900px;
	background-color: #999;
}

.booger {
	position: absolute;
    width: 100px;
    height: 100px;
    margin: auto;
    background-size: 100px auto;
	background-position: center;
	background-repeat: no-repeat;
}

.booger.green {
	/*background-color: green; */
	background: url('../img/cow.png');
	background-size: 80% auto;
	background-position: center;
	background-repeat: no-repeat;
	
}

.booger.red {
	/*background-color: lightsalmon; */
	background: url('../img/horse.png');
	background-size: 80% auto;
	background-position: center;
	background-repeat: no-repeat;
}
/*
.booger:before {
    height: 0;
    width: 40px;
    content: "";
    position: absolute;
    border-bottom: 30px solid #f7f7f7;
    border-left: 30px solid #666;
    border-right: 30px solid #666;
    border-radius: 50%;
}

.booger:after {
    height: 0;
    width: 40px;
    content: "";
    position: absolute;
    border-top: 30px solid #f7f7f7;
    border-left: 30px solid #666;
    border-right: 30px solid #666;
    border-radius: 50%;
    margin: 70px 0 0 0;
}*/


@keyframes jiggle {
    0% {
        transform: rotate(-1deg);
        }
        50% {
        transform: rotate(1deg);
        }
}

.booger.selected {
	animation: jiggle 0.2s infinite;
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}
 
@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
        }
        50% {
        -webkit-transform: rotate(1deg);
        }
}
 
@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
        }
        50% {
                -moz-transform: rotate(1deg);
        }
}


.tile {
	display: inline-block;
	width: 98px;
	height: 98px;
	border: 1px solid black;
	background-color: #999;
}

.tile:hover, .booger:hover {
	background-color: #cfcfcf;
}